<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AdminloginDao">
    <select id="getAll" resultType="com.entity.AdminloginEntity">
        select alid,alname,alpassword from adminlogin order by alid
    </select>
    <insert id="insert" parameterType="com.entity.AdminloginEntity">
        insert into adminlogin(alname, alpassword) values (#{alname},#{alpassword})
    </insert>
    <delete id="delete">
        delete from adminlogin where alid = #{id}
    </delete>
    <update id="update" parameterType="com.entity.AdminloginEntity">
        update adminlogin set alname = #{alname},alpassword = #{alpassword} where alid = #{id}
    </update>
</mapper>