<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.SongSheetDao">
    <select id="getAll" resultType="com.entity.SongSheetEntity">
        select ssid, ssname, simg_address, communityid from song_sheet where communityid = #{id} order by ssid
    </select>
    <insert id="insert" parameterType="com.entity.SongSheetEntity">
        insert into song_sheet(ssid, ssname, simg_address, communityid) values
        (#{ssid},#{ssname},#{simgAddress},#{communityid})
    </insert>
    <delete id="delete">
        delete from song_sheet where ssid = #{id}
    </delete>
    <update id="update" parameterType="com.entity.SongSheetEntity">
        update song_sheet set
        ssname = #{ssname},
        simg_address = #{simgAddress}
        communityid = #{communityid}
        where ssid = #{id}
    </update>
</mapper>